name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        
    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Add ip address to security rule to access the wls machine
      run: |
         sourceAddressPrefixes=$(az network nsg rule show --resource-group haiche-wls --nsg-name wls-nsg --name NRMS-Rule-101 --query "sourceAddressPrefixes")
         myIP=$(dig @ns1.google.com TXT o-o.myaddr.l.google.com +short)
         sourceAddressPrefixes=${sourceAddressPrefixes//[/$myIP}
         sourceAddressPrefixes=${sourceAddressPrefixes//,/ }
         sourceAddressPrefixes=${sourceAddressPrefixes//]/}
         echo ${sourceAddressPrefixes}
         az network nsg rule update --resource-group haiche-wls --nsg-name wls-nsg --name NRMS-Rule-101 --source-address-prefixes $sourceAddressPrefixes

    - name: Verify deployed offer
      run: |         
         sudo apt-get install sshpass
         echo "connect the machine"
         sshpass -p ${ADMIN_PWD} ssh -tt weblogic@${HOSTNAME}
         echo "change to root"
         echo ${ADMIN_PWD}
         sudo -S su -
         echo "verify path"
         cd /u01/app/wls/install/Oracle/Middleware/Oracle_Home/wlserver/modules
         WLS_MODULE_PATH=$pwd
         echo ${WLS_MODULE_PATH}
