name: Test az cli via env

on: [push]

env:
 ADMIN_PWD: ${{ secrets.ADMIN_PWD  }}

jobs:
  build:

    runs-on: ubuntu-latest
    env:
     location: eastus
   

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        
    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Initialize env variables
      run: |
       export resourceGroup=${GITHUB_RUN_ID}${GITHUB_RUN_NUMBER}
       echo ${resourceGroup} ${location}
       echo "##[set-env name=envResourceGroup;]${resourceGroup}" 
      
    - name: Azure CLI script file
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
          echo ${resourceGroup} ${location}
          echo ${envResourceGroup}
          az group create --verbose --name ${GITHUB_RUN_ID}${GITHUB_RUN_NUMBER} --location eastus