name: CI

on: [push]

env:
 ADMIN_PWD: ${{ secrets.ADMIN_PWD  }}

jobs:
  build:

    runs-on: ubuntu-latest
    env:
     location: eastus
   

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        
    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Initialize env variables
      run: |
       resourceGroup=${GITHUB_RUN_ID}${GITHUB_RUN_NUMBER}
       echo ${resourceGroup} ${location}
      
    - name: Azure CLI script file
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
          az group create --verbose --name ${GITHUB_RUN_ID}${GITHUB_RUN_NUMBER} --location eastus
        
    - name: Add ip address to security rule to access the wls machine
      run: |
         sourceAddressPrefixes=$(az network nsg rule show --resource-group galia-wls --nsg-name wls-nsg --name NRMS-Rule-101 --query "sourceAddressPrefixes")
         myIP=$(dig @ns1.google.com TXT o-o.myaddr.l.google.com +short)
         sourceAddressPrefixes=$(echo ${myIP} ${sourceAddressPrefixes} | sed 's/,/ /g; s/\[//g; s/\]//g; s/"//g')
         echo ${sourceAddressPrefixes}
         az network nsg rule update --resource-group galia-wls --nsg-name wls-nsg --name NRMS-Rule-101 --source-address-prefixes $sourceAddressPrefixes

    - name: verify wls
      run: |
       ls
       result=$(sshpass -p "wlsEng@aug2019" -v ssh -o StrictHostKeyChecking=no -o ConnectTimeout=2000 -v -tt weblogic@wls-6ff71419a8.eastus.cloudapp.azure.com 'bash -s' < test/scripts/verify-wls-path.sh)
       echo $?
       echo $result
