name: Test az cli via env

on: [push, repository_dispatch]

env:
 ADMIN_PWD: ${{ secrets.ADMIN_PWD  }}
 nsg: wls-nsg

jobs:
  build:
    runs-on: ubuntu-latest
    env:
     location: eastus
   

    steps:
    - name: Initialize
      run: |
         echo "##[set-env name=resourceGroup;]4169849518"
         echo "##[set-env name=wlsPublicIP;]40.117.145.38"

    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
      
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        
    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Get IP of build machine
      run: |
        myIP=$(dig @ns1.google.com TXT o-o.myaddr.l.google.com +short)
        echo "##[set-env name=myIP;]${myIP}"

    - name: Add ip address to security rule to access the wls machine
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
          echo "query existing source address prefixes"
          sourceAddressPrefixes=$(az network nsg rule show \
            --resource-group ${resourceGroup} \
            --nsg-name wls-nsg \
            --name NRMS-Rule-101 \
            --query "sourceAddressPrefixes")
          echo "IP of this machine: " ${myIP}
          sourceAddressPrefixes=$(echo ${myIP} ${sourceAddressPrefixes} | \
            sed 's/,/ /g; s/\[//g; s/\]//g; s/"//g')
          echo ${sourceAddressPrefixes}
          az network nsg rule update \
            --resource-group ${resourceGroup} \
            --nsg-name wls-nsg \
            --name NRMS-Rule-101 \
            --source-address-prefixes $sourceAddressPrefixes
          az network nsg rule show \
            --resource-group ${resourceGroup} \
            --nsg-name wls-nsg \
            --name NRMS-Rule-101 \
            --query "sourceAddressPrefixes"
    - name: Restart wls VM
      id: restart-wls-wm
      uses: azure/CLI@v1
      with:
        azcliversion: 2.0.72
        inlineScript: |
          echo "restart vm to make sure security rule work."
          az vm restart -g ${resourceGroup} -n WebLogicServerVM

    - name: Verify WebLogic Server
      id: verify-wls
      run: |
        echo "pubilc IP of wls machine:" ${wlsPublicIP}
        echo "test port..."
        timeout 20 sh -c 'until nc -zv $0 $1; do sleep 1; done' ${wlsPublicIP} 22
        echo "check if /u01/app/wls/install/Oracle/Middleware/Oracle_Home/wlserver/modules exists, the step will fail if not."
        result=$(sshpass -p wlsEng@aug2019 -v ssh -p 22 -o StrictHostKeyChecking=no -o ConnectTimeout=1000 -v -tt weblogic@${wlsPublicIP} 'bash -s' < test/scripts/verify-wls-path.sh)
        echo $result
