name: CI

on: [push]

env:
 ADMIN_PWD: ${{ secrets.ADMIN_PWD  }}

jobs:
  build:

    runs-on: ubuntu-latest
   

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
        
    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Add ip address to security rule to access the wls machine
      run: |
         sourceAddressPrefixes=$(az network nsg rule show --resource-group galia-wls --nsg-name wls-nsg --name NRMS-Rule-101 --query "sourceAddressPrefixes")
         myIP=$(dig @ns1.google.com TXT o-o.myaddr.l.google.com +short)
         sourceAddressPrefixes=${sourceAddressPrefixes//[/$myIP}
         sourceAddressPrefixes=${sourceAddressPrefixes//,/ }
         sourceAddressPrefixes=${sourceAddressPrefixes//]/}
         sourceAddressPrefixes=${sourceAddressPrefixes//\"/}
         echo ${sourceAddressPrefixes}
         az network nsg rule update --resource-group galia-wls --nsg-name wls-nsg --name NRMS-Rule-101 --source-address-prefixes $sourceAddressPrefixes

    - name: List output files
      run: ls
      
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@2.0.0
      env:
        FTP_SERVER: wls-6ff71419a8.eastus.cloudapp.azure.com
        FTP_USERNAME: weblogic
        FTP_PASSWORD: ${{ secrets.ADMIN_PWD }}
        PORT: 22
        ARGS: --verbose
